/SpringRestfulWebService/target/
/hello/target/
/MyWebApp2/nbproject/private/
/TestNBHTML5Application/nbproject/private/
/jQueryHTMLElements/nbproject/private/
/jQueryBrowserEvents/nbproject/private/
/Ajax-With-jQuery-SG-Examples/AjaxCallsWithjQuery_NB/nbproject/private/
/OpenWeatherMap/nbproject/private/
/ContactListRESTClient/nbproject/private/
/DVDLibraryClient/nbproject/private/
/VendingMachineClient/nbproject/private/
/FactorizorJSPServlet/target/
/FlooringCalculatorJSPServlet/target/
/httpURLConnection/target/
/LuckySevenJSPServlet/target/
/HelloMVC/target/
/FactorizorSpringMVC/target/
/LuckySevenSpringMVC/target/
/TipCalculator/target/
/ContactListSpringMVC/target/
/ContactListSpringMVC/nbproject/