/SpringRestfulWebService/target/
/hello/target/
/MyWebApp2/nbproject/private/
/TestNBHTML5Application/nbproject/private/
/jQueryHTMLElements/nbproject/private/
/jQueryBrowserEvents/nbproject/private/
/Ajax-With-jQuery-SG-Examples/AjaxCallsWithjQuery_NB/nbproject/private/
/OpenWeatherMap/nbproject/private/
/ContactListRESTClient/nbproject/private/
/DVDLibraryClient/nbproject/private/
/VendingMachineClient/nbproject/private/
/FactorizorJSPServlet/target/
/FlooringCalculatorJSPServlet/target/
/httpURLConnection/target/
/LuckySevenJSPServlet/target/
/HelloMVC/target/
/FactorizorSpringMVC/target/
/LuckySevenSpringMVC/target/
/TipCalculator/target/
/ContactListSpringMVC/target/
/ContactListSpringMVC/nbproject/
/HelloWorldSpringMVC/target/
/VendingMachineSpringMVC/target/
/VendingMachineSpringMVC/nbproject/
/Warmups/target/
/Library/nbproject/
/Library/target/
/DvdLibrarySpringMVC/target/
/PictureAlbum/target/
/DvdLibrarySpringMVC/nbproject/
/SuperPeopleSightings/SuperPeopleSightings/target/
/SuperPeopleSightings/SuperPeopleSightings/nbproject/
/SuperPeopleSightings/DealOrNoDeal/nbproject/private/
/SuperPeopleSightings/DealOrNoDeal/build/
/SuperPeopleSightings/DealOrNoDeal/dist/
/DealOrNoDeal/build/
/DealOrNoDeal/dist/
/DealOrNoDeal/nbproject/private/
/SuperPeopleSightings/HelloSecurity/target/
/ContactListSpringMVC (copy)/nbproject/
/ContactListSpringMVC (copy)/target/
/ContactListSpringMVCSecurity/nbproject/
/ContactListSpringMVCSecurity/target/
/SuperPeopleSightings/InterviewQuestions/nbproject/private/
/SuperPeopleSightings/InterviewQuestions/build/
/SuperPeopleSightings/RavonCallReports/target/
/SuperPeopleSightings/RavonCDR/target/
/Warmups/Oct32017Warmup/target/
/MessageTemplate/target/
/MessageTemplate/nbproject/